.carousel {
    padding: 81px 0;
    .container {
        position: relative;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

    }

    .prev {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-66px, -50%);
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }

    .next {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(66px, -50%);
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }

    .tns-nav {
        display: none;
        margin-top: 20px;
        text-align: center;
        min-height: 30px;
        button {
            margin-right: 10px;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            border: 1px solid grey;
            :last-child {
                margin-right: 0;
            }
            
        }
        .tns-nav-active {
            border: 1px solid grey;
            background-color: rgb(179, 26, 26);
            transition: .5s all;
        }
    }

    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}