.pageup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    // right: 20;
    img {
        width: 100%;
        padding: 5px;
        border: 3px solid $main_color;
        border-radius: 100%;
    }
}